.loader {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;
}

.loader-animation {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.3rem dotted var(--purple);
  animation: spin 300ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.loader-text {
  text-align: center;
  font-size: 1.4rem;
}
