.day {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  background-color: var(--white);
  border: 0.01rem solid var(--black);
  border-radius: 1.5rem;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}

.day-temp {
  display: flex;
  gap: 1rem;
}
