.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  background-color: var(--green);
}

.nav-menu {
  position: absolute;
  left: 2rem;
  z-index: 999;
  width: 3rem;
  aspect-ratio: 1;
  background: url("../../assets/nav-bar.png");
  background-size: contain;
  background-position: center;
}

.nav-menu[aria-expanded="true"] {
  width: 2.5rem;
  background: url("../../assets/nav-close.png");
}

.nav-list {
  position: fixed;
  inset: 0 30% 0 0;
  background-color: var(--white);
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  transform: translateX(-100%);
  padding-top: 8rem;
  z-index: 99;
  font-size: 1.8rem;
}

.nav-list-item > a {
  text-decoration: none;
  color: var(--black);
}

.nav-list[data-visible="true"] {
  transform: translateX(0%);
  border: 2px solid var(--black);
}

.logo {
  margin: auto;
  font-size: 2.5rem;
}

@media (min-width: 480px) {
  .nav-list {
    background-color: transparent;
    left: 3rem;
    position: absolute;
    flex-direction: row;
    transform: translateX(0%);
    padding: 0;
    gap: 3rem;
  }
  .nav-menu {
    display: none;
  }
  .logo {
    font-size: 3.5rem;
  }
}
