.secondary-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  padding-block: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--black);
  background-color: var(--white);
  border-radius: 1.2rem 1.2rem 0 0;
}

.secondary-nav-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  color: var(--black);
}

.nav-icon {
  width: 2.3rem;
  aspect-ratio: 1;
}

.nav-text {
  text-transform: capitalize;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--black);
}

.active {
  color: var(--purple);
}

@media (min-width: 480px) {
  .secondary-nav {
    display: none;
  }
}
