.sign-up {
  width: 100%;
  height: 100vh;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.3rem;
}

.page-logo img {
  width: 15rem;
}

.sign-up-text {
  font-size: 1.6rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  gap: 2rem;
}

.user-auth-details {
  background-color: var(--white);
  padding: 4rem 2rem;
  border: 0.1rem solid var(--black);
  box-shadow: 6.5px 8.66667px 16.25px 1.08333px rgba(35, 40, 35, 0.1);
  border-radius: 3rem;
}

.auth-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.auth-detail:not(:first-child) {
  margin-block-start: 2rem;
}

.auth-detail > input {
  outline: none;
  border: none;
  border-bottom: 0.2rem solid var(--black);
  padding-block: 0.5rem;
  font-size: 1.6rem;
}

.auth-detail > input::placeholder {
  color: var(--grey);
}

.forgot-password {
  display: block;
  width: 100%;
  text-align: right;
  margin-block-start: 1rem;
}

.auth-submit-btn {
  margin: 0 auto;
  width: 100%;
  font-family: var(--roboto);
  font-size: 2rem;
  padding-block: 0.7rem;
  border: 0.1rem solid var(--black);
  background-color: var(--white);
  border-radius: 1.5rem;
}

.agreement-text {
  text-align: center;
  color: #4b694a;
}

.agreement-text a {
  color: var(--black);
}

.switch-page {
  font-size: 1.3rem;
}

.switch-page a {
  color: var(--black);
}
